 .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #0b3d66;
  }
  
  .auth-box {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    color: #fff;
    margin-bottom: 1rem;
  }
  

  .input-group {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-group label {
    color: #fff;
    font-size: 0.9rem;
  }
  .input-group input {
    width: 100%;
    padding: 12px;
    padding-left: 45px; /* Space for the icon */
    border: 1px solid #ccc;
    border-radius: 50px; /* Fully rounded from both sides */
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-group input:focus {
    border-color: #007bff; /* Highlight on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
 
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 65%;
    transform: translateY(-50%);
    color: #555;
    font-size: 1.2rem;
  }
  
  /* .input-group input {
    width: 100%;
    padding: 0.9rem;
    padding-left: 40px; 
    border: 1px solid #ccc;
    border-radius: 50px;
  } */
  
  
  .forgot-password {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    color: #ddd;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .auth-btn {
    width: 100%;
    background: #252d4a;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
  }
  
  .auth-btn:hover {
    background: #1d2238;
  }
  
  .or-text {
    color: #fff;
    margin: 1rem 0;
  }
  
  .google-btn {
    width: 100%;
    background: #fff;
    color: #333;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .google-btn img {
    width: 20px;
  }
  
  .switch-auth {
    color: #fff;
    margin-top: 1rem;
  }
  
  .switch-auth span {
    color: #ffbb33;
    cursor: pointer;
    font-weight: bold;
  }
  
  .switch-auth span:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .auth-box {
      padding: 1.5rem;
      max-width: 90%;
    }
  
    .auth-btn,
    .google-btn {
      font-size: 0.9rem;
      padding: 0.7rem;
    }
  }
  